---
layout: default
---

<div class="article-list">
    {%- assign sorted_number_ordered_articles = site.articles | sort:"nav_order" -%}
    {% for article in sorted_number_ordered_articles %}
        <div class="thumb">
            <a href={{ article.url }} class="wrap">
                {% if article.thumbnail %}
                    <img src="{{ article.thumbnail }}"/>
                {% else %}
                    <img src="/assets/images/article_placeholder.png"/>
                {% endif %}
            </a>
       </div>
        <div class="title">
            <a href={{ article.url }} class="wrap">
                <h2>{{ article.title }}</h2>
            </a>
        </div>
    {% endfor %}

    {%- assign sorted_number_ordered_archive = site.archive | sort:"nav_order" -%}
    {% for article in sorted_number_ordered_archive %}
    <div class="article">
            <a href={{ article.url }} class="wrap">
                {% if article.thumbnail %}
                    <img src="{{ article.thumbnail }}"/>
                {% else %}
                    <img src="/assets/images/article_placeholder.png"/>
                {% endif %}
            </a>
        </div>
        <div class="title">
            <a href={{ article.url }} class="wrap">
                <h2>{{ article.title }}</h2>
            </a>
        </div>
    {% endfor %}
</div>
